%ul.file_tree
  -dirs,files = decompose_node(node)
  -files.each do |file|
    %li{:class=>file.extname.split('.').last}= link_to_public_file(file)
  -dirs.each do |dir|
    %li.dir 
      = dir.basename
      = render(:partial=>'file_tree', :locals=>{:node=>dir})
